.mobileHeader {
    background: #9cbde4;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
  }
  
  .brandMobile {
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.2em;
  }
  