@import "~bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.App {
    background-color: black;
    text-align: center;
}

.ContentWrapper {
    background-color: #20b181;
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 120px 0 0 0;
}
